.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #ededed;
  color: #000;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &.google-sign-in {
    border-radius: 50px;
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }

  &.neumorphism {
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #e1e1e1,
      -20px -20px 60px #ffffff;

    &:hover {
      background: linear-gradient(145deg, #e6e6e6, #ffffff);
      box-shadow: 15px 15px 60px #f0f0f0,
        -15px -15px 60px #e1e1e1;
    }
  }
}